h1 {
  font-size: 25px;
}
h2 {
  font-size: 15px;
}
p {
  padding-bottom: 40px;
  color: gray;
}
.stats {
  color: black;
}

.container {
  padding: 40px 60px 40px 60px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 30px;
}
.wrapper {
  padding: 40px 60px 40px 60px;
  width: 70%;
  margin: 30px auto;
}

.d-flex {
  width: 400px;
  padding: 0 0 15px 0;
  display: block;
  margin: 0 auto;
}
.types {
  float: right;
  text-transform: capitalize;
}
.time {
  float: right;
}
.btn-outline-success {
  width: 40px;
}
.col {
  border: 1px solid gray;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  margin: 0 10px;
}
.col:hover {
  box-shadow: 5px 5px 10px 0px rgba(194, 224, 233, 0.74);
  border: 1px solid rgb(143, 200, 218);
}
.col img {
  width: 100px;
  padding: 0 auto;
  margin: 0 auto;
}
.btn {
  margin: 1px;
  box-shadow: 5px 5px 15px 0px lightgrey;
}
.me-2 {
  margin-right: 0rem !important;
  box-shadow: 5px 5px 15px 0px lightgrey;
}
.degrees {
  top: 18px;
  vertical-align: top;
  position: relative;
}
.degrees a {
  text-decoration: none;
}
.link a {
  text-decoration: none;
}
.fa-solid {
  font-size: 60px;
  color: gray;
}
.temperature {
  font-size: 50px;
}
